  /* Navbar */
.navbar {
    background-color: var(--primary) !important;
    padding: 0.8rem 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1100; /* asegurar que la navbar quede por encima del hero */
}
.navbar-brand {
    color: var(--accent) !important;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 3px;
}
.nav-link {
    color: var(--light) ;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar-toggler {
    border-color: var(--accent);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 211, 105, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

        
  .super-suave {
            transition: transform 0.5s ease;
        }

        .super-suave:hover {
            transform: scale(1.2);
            color: var(--accent) !important;
        }