.row{
    padding: 0 !important;
    margin: 0 !important;
}
.bg-custom{
    background-color: var(--primary);
}
.bg-custom2{ 
    background-color: var(--secondary);
}
.card-max-width{
    border-color: var(--primary);
    max-width: 540px;
    margin: auto;
}
.card-img-top{
    
}